<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="version" content="v1.0.0" />
  <style rel="stylesheet" type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

    html {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      text-align: justify;
      max-width: 2480px;
      justify-content: center;
    }

    footer {
      width: 2480px;
      height: 5vh;
    }

    .SBS {
      width: 12vw;
      height: auto;
      margin-top: 5px;
    }

    .main-title {
      font-size: 1.5em;
      border-bottom: 3px solid #0C2340;
    }

    .second-level-title {
      font-size: 1.25em;
      border-bottom: 2px solid #0C2340;
      padding: 10px;
      width: 100%;
    }

    .third-level-title {
      font-size: 1em;
    }

    .no-border {
      border: none;
    }

    .main-table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
      /*empty-cells: show;*/
    }

    .table-cells {
      padding: .525em;
      text-align: left;
    }

    .table-rows {
      border: 1px solid #ddd;
      padding: .15em;
    }

    .table-headers {
      font-weight: lighter;
      font-style: italic;
      padding: .525em;
      text-align: left;
      max-width: 40%;
    }

    .second-level {
      margin-left: 10px;
    }

    .caption {
      font-weight: lighter;
      font-size: 11px;
    }

    em {
      font-style: normal;
    }

    ol {
      list-style-type: none;
      padding: 0;

    }

    ul {
      margin: 0;
      padding: 0;
    }

    ul li {
      display: inline;
    }

    img {
      max-width: 20vw;
      padding: 0;
    }

    .ce {
      width: 8vw;
    }

    section:not(.header) {
      margin-top: 10px;
    }
  </style>
</head>

<body>

  {{!-- COMPANIES HEADERS --}}

  <section class="header">
    <table class="main-table">
      <tr class="table-rows">
        <th class="table-headers">A04 {{ i18n "A04" "certificateFields" Certificate.CertificateLanguages}}</th>
        <th class="table-headers">A01 {{ i18n "A01" "certificateFields" Certificate.CertificateLanguages}} </th>
        <th class="table-headers">A06.1 {{ i18n "A06.1" "certificateFields" Certificate.CertificateLanguages}}</th>
        <th class="table-headers" hidden>A06.2 {{ i18n "A06.2" "certificateFields" Certificate.CertificateLanguages}}
        </th>
      </tr>
      <tr class="table-rows">
        <td class="table-cells">
          <img class="image" src="{{Certificate.CommercialTransaction.A04}}" />
        </td>
        <td>
          <ol>
            <li>{{Certificate.CommercialTransaction.A01.CompanyName}}</li>
            <li>{{Certificate.CommercialTransaction.A01.Street}}</li>
            <li>{{Certificate.CommercialTransaction.A01.ZipCode}}, {{Certificate.CommercialTransaction.A01.City}},
              {{Certificate.CommercialTransaction.A01.Country}}</li>
            <li>{{Certificate.CommercialTransaction.A01.Email}}</li>
          </ol>
        </td>
        <td class="table-cells">
          <ol>
            <li>{{Certificate.CommercialTransaction.A06.CompanyName}}</li>
            <li>{{Certificate.CommercialTransaction.A06.Street}}</li>
            <li>{{Certificate.CommercialTransaction.A06.ZipCode}}, {{Certificate.CommercialTransaction.A06.City}},
              {{Certificate.CommercialTransaction.A06.Country}}</li>
            <li>{{Certificate.CommercialTransaction.A06.Email}}</li>
          </ol>
        </td>
        {{!--  TODO: Handle case where A06.1, A06.2, A06.3 and no A06 --}}
        {{!-- <td class="table-cells" hidden>
          <ol>
            <li>{{Certificate.CommercialTransaction.['A06.1'].CompanyName}}</li>
            <li>{{Certificate.CommercialTransaction.['A06.1'].Street}}</li>
            <li>{{Certificate.CommercialTransaction.['A06.1'].ZipCode}},
              {{Certificate.CommercialTransaction.['A06.1'].City}},
              {{Certificate.CommercialTransaction.['A06.1'].Country}}</li>
            <li>{{Certificate.CommercialTransaction.['A06.1'].Email}}</li>
          </ol>
        </td> --}}
        <td class="table-cells">
        </td>
      </tr>
    </table>
  </section>

  {{!--  COMMERCIAL TRANSACTION --}}

  <section>
    <h2 class="main-title">{{ i18n "CommercialTransaction" "certificateGroups" Certificate.CertificateLanguages }}</h2>
    <table class="main-table">
      {{#each Certificate.CommercialTransaction}}
      {{#notIn @key "A01,A04,A06,A06.1,A06.2,A06.3,SupplementaryInformation"}}
      {{#if this}}
      <tr class="table-rows">
        <th class="table-headers">{{@key}} {{ i18n @key "certificateFields" ../Certificate.CertificateLanguages }}
        </th>
        <td>{{this}}</td>
      </tr>
      {{/if}}
      {{/notIn}}
      {{/each}}
    </table>

    {{#notEmpty Certificate.CommercialTransaction.SupplementaryInformation}}
    <h3 class="third-level-title">{{ i18n "SupplementaryInformation" "otherFields" Certificate.CertificateLanguages}}
    </h3>
    <table class="main-table">
      {{#each Certificate.CommercialTransaction.SupplementaryInformation}}
      <tr class="table-rows">
        <th class="table-headers">{{@key}} {{this.Key}}</th>
        <td class="table-cells">{{this.Value}} {{this.Unit}}</td>
        <td class="table-cells">{{this.Interpretation}}</td>
      </tr>
      {{/each}}
    </table>
    {{/notEmpty}}
  </section>

  {{!-- PRODUCT DESCRIPTION --}}

  <section>
    <h2 class="main-title pdf-pagebreak-before">
      {{ i18n "ProductDescription" "certificateGroups" Certificate.CertificateLanguages}}</h2>
    <table class="main-table">
      {{#each Certificate.ProductDescription}}
      {{!-- ProductDescription-> SupplementaryInformation or B02,B09 or B10,B11,B12,B13--}}
      {{#typeOf this 'object'}}
      {{!-- ProductDescription-> SupplementaryInformation  --}}
      {{#ifEqual @key "SupplementaryInformation"}}
      <h3 class="third-level-title second-level">
        {{ i18n "SupplementaryInformation" "otherFields" ../Certificate.CertificateLanguages }}</h3>
      <table class="main-table second-level">
        {{#each this}}
        <tr class="table-rows">
          <th class="table-headers">{{@key}} {{this.Key}}</th>
          <td class="table-cells">{{this.Value}} {{this.Unit}}</td>
          <td class="table-cells">{{this.Interpretation}}</td>
        </tr>
        {{/each}}
      </table>
      {{!-- ProductDescription-> B02, B09 or B10,B11,B12,B13--}}
      {{else}}
      {{!-- ProductDescription-> B10,B11,B12,B13--}}


      {{!-- TODO: improve Table formatting !! --}}


      {{#in @key "B10,B11,B12,B13"}}
      <table class="main-table" style="margin-top: 0px;">
        <tr class="table-rows">
          <th class="table-headers">{{@key}} {{this.Property}}</th>
          <td class="table-cells">{{this.Value}} {{this.Unit}}</td>
          <td class="table-cells">
            {{#if this.Minimum}}
            min {{this.Minimum}} {{this.Unit}}
            {{/if}}
            {{#if this.Maximum}}
            max {{this.Maximum}} {{this.Unit}}
            {{/if}}
          </td>
        </tr>
      </table>
      {{!-- ProductDescription-> B02 --}}
      {{else}}
      {{#ifEqual @key "B02"}}
      <tr class="table-rows">
        <th class="table-headers">{{@key}}
          {{ i18n @key "certificateFields" ../Certificate.CertificateLanguages }}</th>
        <td class="table-cells"></td>
      </tr>
      {{#each this}}
      <tr class="table-rows">
        <td class="table-cells"><em
            class="caption">{{ i18n @key "otherFields" ../../Certificate.CertificateLanguages}}</em></td>
        <td class="table-cells">{{join this ", " value }}</td>
      </tr>
      {{/each}}
      {{!-- ProductDescription-> B09--}}
      {{else}}
      <tr class="table-rows">
        <th class="table-headers">{{@key}}
          {{ i18n @key "certificateFields" ../Certificate.CertificateLanguages }}</th>
        <td class="table-cells"></td>
      </tr>
      <tr class="table-rows">
        <td class="table-headers"><em class="caption">{{@key.Form}}
            {{ i18n "Form" "otherFields" ../Certificate.CertificateLanguages }}</th>
        <td class="table-cells">{{ i18n this.Form "otherFields"../Certificate.CertificateLanguages }}</td>
      </tr>
      {{#each this}}
      {{#in @key "Unit,Form"}}
      {{else}}
      <tr class="table-rows">
        <td class="table-cells"><em
            class="caption">{{ i18n @key "otherFields" ../../Certificate.CertificateLanguages}}</em></td>
        <td class="table-cells">{{this}} {{../this.Unit}}</td>
      </tr>
      {{/in}}
      {{/each}}
      {{/ifEqual}}
      {{/in }}
      {{/ifEqual}}


      {{!-- ProductDescription-> B01, B03, B04, B05, B06, B07, B08  --}}
      {{else}}
      {{#if this}}
      <tr class="table-rows">
        <th class="table-headers">{{@key}} {{ i18n @key "certificateFields" ../Certificate.CertificateLanguages }}
        </th>
        <td class="table-cells">{{this}}</td>
      </tr>
      {{/if}}
      {{/typeOf}}
      {{/each}}
    </table>
  </section>

  {{!-- INSPECTION --}}

  <section>
    <h2 class="main-title pdf-pagebreak-before">
      {{ i18n "Inspection" "certificateGroups" Certificate.CertificateLanguages}}</h2>
    {{#each Certificate.Inspection}}
    {{!-- Inspection-> SupplementaryInformation or ChemicalComposition or TensileTest,HardnessTest,NotchedBarImpactTest,OtherMechanicalTests --}}
    {{#typeOf this 'object'}}
    <section class="second-level">
      <h3 class="second-level-title second-level" style="float:left;">
        {{ i18n @key "otherFields" ../Certificate.CertificateLanguages }}</h3>

      {{!-- Inspection-> SupplementaryInformation --}}
      {{#ifEqual @key "SupplementaryInformation"}}
      <table class="main-table">
        {{#each this}}
        <tr class="table-rows">
          <th class="table-headers">{{@key}} {{this.Key}}</th>
          <td class="table-cells">{{this.Value}} {{this.Unit}}</td>
          <td class="table-cells">{{this.Interpretation}}</td>
        </tr>
        {{/each}}
      </table>
      {{/ifEqual}}

      {{!-- Inspection-> ChemicalComposition --}}
      {{#ifEqual @key "ChemicalComposition"}}
      {{#each this}}
      {{#typeOf this 'object'}}
      {{!-- ChemicalComposition-> SupplementaryInformation --}}
      {{#ifEqual @key "SupplementaryInformation"}}
      <h3 class="third-level-title second-level" style="float: left;">
        {{ i18n @key "otherFields" ../../Certificate.CertificateLanguages }}</h3>
      <table class="main-table second-level">
        {{#each this}}
        <tr class="table-rows">
          <th class="table-headers">{{@key}} {{this.Key}}</th>
          <td class="table-cells">{{this.Value}} {{this.Unit}}</td>
          <td class="table-cells">{{this.Interpretation}}</td>
        </tr>
        {{/each}}
      </table>
      {{!-- ChemicalComposition-> ChemicalElement --}}
      {{else}}
      <table class="main-table" style="margin-top: 0px;">
        <tr class="table-rows">
          {{!-- No translation ? --}}
          <th class="table-headers">{{@key}}</th>
          {{#each this}}
          <td class="caption table-cells">{{@key}}</td>
          {{/each}}
        </tr>
        <tr class="table-rows">
          <td class="caption table-cells"></td>
          {{#each this}}
          <td>{{this}}</td>
          {{/each}}
        </tr>
      </table>
      {{/ifEqual}}
      {{!-- ChemicalComposition-> C70 --}}
      {{else}}
      <table class="main-table" style="margin-top: 0px;">
        <tr class="table-rows">
          <th class="table-headers">{{@key}}
            {{ i18n @key "certificateFields" ../../Certificate.CertificateLanguages }}</th>
          <td class="table-cells">{{this}}<em class="caption">(Section)</em></td>
        </tr>
      </table>

      {{/typeOf}}
      {{/each}}
      {{/ifEqual}}

      {{!-- Inspection-> TensileTest, HardnessTest, NotchedBarImpactTest, OtherMechanicalTests --}}
      {{#in @key "TensileTest,HardnessTest,NotchedBarImpactTest,OtherMechanicalTests"}}
      {{#each this}}
      {{#typeOf this 'object'}}
      {{!-- XTest-> SupplementaryInformation --}}
      {{#ifEqual @key "SupplementaryInformation"}}
      <table class="main-table second-level">
        <h3 class="third-level-title second-level" style="float: left;">
          {{ i18n @key "otherFields" ../../Certificate.CertificateLanguages }}</h3>

        {{#each this}}
        {{!-- KeyValueObject --}}
        <tr class="table-rows">
          <th class="table-headers">{{@key}} {{this.Key}}</th>
          <td class="table-cells">{{this.Value}} {{this.Unit}}</td>
          <td class="table-cells">{{this.Interpretation}}</td>
        </tr>
        {{/each}}
      </table>
      {{!-- XTest-> Measurement(s) (C10, C11, C12, C13, C31, C32, C42, C43, C44) --}}
      {{else}}
      {{!-- XTest-> Measurement(s) ( C42) --}}
      {{#ifEqual @key "C42"}}
      <table class="main-table" style="margin-top: 0px;">
        <tr class="table-rows">
          <th class="table-headers">{{@key}}
            {{ i18n @key "certificateFields" ../../Certificate.CertificateLanguages }}</th>
          <td class="table-cells" colspan="2">{{ join this ", " "Value" }} {{ this.[0].Unit }}</td>
        </tr>
      </table>
      {{else}}
      {{!-- XTest-> Measurement(s) (C11, C12, C13, C31, C32, C41, C43, C44) --}}
      {{#typeOf this 'object'}}
      <table class="main-table" style="margin-top: 0px;">
        <tr class="table-rows">
          <th class="table-headers">{{@key}} {{ i18n @key "certificateFields" ../../Certificate.CertificateLanguages }}
          </th>
          <td class="table-cells">
            {{this.Value}} {{this.Unit}}
          </td>
          <td class="table-cells">
            {{#if this.Minimum}}
            min {{this.Minimum}} {{this.Unit}}
            {{/if}}
            {{#if this.Maximum}}
            max {{this.Maximum}} {{this.Unit}}
            {{/if}}
          </td>
        </tr>
      </table>
      {{!-- XTest-> Measurement(s) (C10, C30, C40) --}}
      {{else}}
      <table class="main-table" style="margin-top: 0px;">
        <tr class="table-rows">
          <th class="table-headers">{{@key}}
            {{ i18n @key "certificateFields" ../../Certificate.CertificateLanguages }}</th>
          {{#each this}}
          <td class="table-cells" colspan="2">{{this}}</td>
          {{/each}}
        </tr>
      </table>
      {{/typeOf}}
      {{/ifEqual}}
      {{/ifEqual}}
      {{!-- XTest-> C10, C30, C40, C41 --}}
      {{else}}
      <table class="main-table" style="margin-top: 0px;">
        <tr class="table-rows">
          <th class="table-headers">{{@key}}
            {{ i18n @key "certificateFields" ../../Certificate.CertificateLanguages }}</th>
          <td class="table-cells" colspan="2">{{this}}</td>
        </tr>
      </table>
      {{/typeOf}}
      {{/each}}
      {{/in}}
    </section>
    {{!-- Inspection-> C00, C01, C02, C03 --}}
    {{else}}
    {{#if this}}
    <table class="main-table">
      <tr class="table-rows">
        <th class="table-headers">{{@key}} {{ i18n @key "certificateFields" ../Certificate.CertificateLanguages }}
        </th>
        <td class="table-cells">{{this}}</td>
      </tr>
    </table>
    {{/if}}
    {{/typeOf}}
    {{/each}}
  </section>

  {{!-- OTHER TESTS --}}

  <section>
    <h2 class="main-title">{{ i18n "OtherTests" "certificateGroups" Certificate.CertificateLanguages}}</h2>
    {{!-- <table class="main-table"> --}}
    {{#each Certificate.OtherTests}}
    {{!-- OtherTests-> SupplementaryInformation, NonDestructiveTests --}}
    {{#typeOf this 'object'}}
    <h3 class="second-level-title second-level">
      {{ i18n @key "otherFields" ../Certificate.CertificateLanguages }}</h3>
    <table class="main-table second-level">
      {{#each this}}
      <tr class="table-rows">
        <th class="table-headers">{{@key}} {{this.Key}}</th>
        <td class="table-cells">{{this.Value}} {{this.Unit}}</td>
        <td class="table-cells">{{this.Interpretation}}</td>
      </tr>
      {{/each}}
    </table>
    {{!-- OtherTests-> D01 --}}
    {{else}}
    {{#if this}}
    <table class="main-table">
      <tr class="table-rows">
        <th class="table-headers">{{@key}} {{ i18n @key "certificateFields" ../Certificate.CertificateLanguages }}
        </th>
        <td class="table-cells">{{this}}</td>
        <td class="table-cells"></td>
      </tr>
    </table>
    {{/if}}
    {{/typeOf}}
    {{/each}}
    {{!-- </table> --}}
  </section>


  {{!-- VALIDATION --}}

  <section style="float: left;">
    <h2 class="main-title pdf-pagebreak-before">
      {{ i18n "Validation" "certificateGroups" Certificate.CertificateLanguages }}</h2>
    {{#each Certificate.Validation}}
    {{!-- Validation-> Z04 --}}
    {{#ifEqual @key "Z04"}}
    <table class="main-table" style="float: left; width: 50%;">
      <tr class="table-rows">
        <th class="table-headers">{{@key}}
          {{ i18n @key "certificateFields" ../Certificate.CertificateLanguages }}</th>
        <td class="table-cells"></td>
      </tr>
      {{#notEmpty this}}
      <tr class="table-rows">
        <td class="caption table-cells">
          {{ i18n "Z04.NotifiedBody" "certificateFields" ../Certificate.CertificateLanguages }}</td>
        <td class="table-cells">{{this.NotifiedBodyNumber}}</td>
      </tr>
      <tr class="table-rows">
        <td class="caption table-cells">
          {{ i18n "Z04.DoCYear" "certificateFields" ../Certificate.CertificateLanguages }}</td>
        <td class="table-cells">{{this.DoCYear}}</td>
      </tr>
      <tr class="table-rows">
        <td class="caption table-cells">
          {{ i18n "Z04.DoCNumber" "certificateFields" ../Certificate.CertificateLanguages }}</td>
        <td class="table-cells">{{this.DoCNumber}}</td>
      </tr>
      {{/notEmpty}}
    </table>
    <table class="main-table" style="float: left; margin-left: 0px; width: 50%; border: none;">
      <tr class="table-rows no-border">
        <td class="table-cells" style="float: right; margin-right: 350px;">
          <img class="ce" alt="Company CE" src="{{this.CE_Image}}" />
        </td>
      </tr>
    </table>
    {{!-- Validation-> Z01, Z02, Z03 --}}
    {{else}}
    {{#in @key "Z01,Z02,Z03"}}
    <table class="main-table" style="margin-top: 0px;">
      <tr class="table-rows">
        <th class="table-headers">{{@key}} {{ i18n @key "certificateFields" ../Certificate.CertificateLanguages }}
        </th>
        <td class="table-cells">{{this}}</td>
      </tr>
    </table>
    {{else}}
    {{!-- Supplementary Information--}}
    <h3 class="second-level-title second-level">
      {{ i18n @key "otherFields" ../Certificate.CertificateLanguages }}</h3>
    <table class="main-table second-level">
      {{#each this}}
      <tr class="table-rows">
        <th class="table-headers">{{@key}} {{this.Key}}</th>
        <td class="table-cells">{{this.Value}} {{this.Unit}}</td>
        <td class="table-cells">{{this.Interpretation}}</td>
      </tr>
      {{/each}}
    </table>
    {{/in}}
    {{/ifEqual}}
    {{/each}}
  </section>

  <footer style="float: left;">
    <p>
      <em class="caption">Powered by</em><br />
      {{!-- TODO: set logo from JSON schema (url) --}}

    </p>
  </footer>
</body>

</html>